<!DOCTYPE html>
<html>
<head>


</head>

<body>
body {
    background-color: lightblue;
}

h1 {
    color: white;
    text-align: center;
}

p {
    font-family: verdana;
    font-size: 40px;
}
p {
    border: 1px solid powderblue;
    margin: 50px;
}
</body>


</html>